<center>

    <div class="jumbotron button-style"> 
        <h1><%=@ingredient.name%></h1> 
        <h3><%= pluralize(@ingredient.cocktail_recipes.count, 'Cocktail Recipe') %> with this Ingredient:</h3>
    </div><br> 
        <%= render partial: "cocktail_recipes/cocktails", locals: {cocktail_recipes: @ingredient.cocktail_recipes} %>
    
<center>  