



<center>
<div class="jumbotron button-style"> 
<h1>Welcome to Mike's Cantina</h1>
<h2 class="lead">Log in or Sign Up to Begin Uploading and Viewing Cocktail Recipes</h2> 
<hr class="my-4">
<p>(Users must be over 21)</p>
</div>

    