<h1>Welcome to The Cantina</h1> 
<h2>Log in or Sign Up to Begin Uploading and Viewing Cocktail Recipes</h2> 
<h4>(Must be Over 21)</h4> 

<%= link_to('Login', new_user_session_path) %>  
<%= link_to('Sign Up', new_user_registration_path) %> 
