<h1><%= @cocktail_recipe.title %></h1> 
<h2><%= @cocktail_recipe.directions %></h2>
<p><%= @cocktail_recipe.description %></p> 
<h3>Category: <%= link_to @cocktail_recipe.category.name, category_path(@cocktail_recipe.category) if @cocktail_recipe.category %></h3>