<h1>Category: <%= @category.name %></h1>
 
<h3><%= pluralize(@category.cocktail_recipes.count, 'Cocktail Recipe') %> for this Category:</h3>
    
        <% @category.cocktail_recipes.each do |c| %>
            <h3><li><%= link_to c.title, cocktail_recipe_path(c) %></li></h3> 
            <h4><%= c.description %></h4>
        <% end %> 
     
    